.container {
    display: flex;
    flex-direction: column; /* Располагаем элементы в колонку */
    align-items: center; /* Центрируем горизонтально */
    /* height: 100vh; */ /* Задаем высоту контейнера, если нужно */
    border: 1px solid black;
}

.center-top-element {
    background-color: lightblue;
    padding: 10px;
}